/* RESET \o/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*-----------------------------
 CLASS ELEMENTS CUSTOMISATION 
-----------------------------*/

.red
{
	color: #ff0000;
}
.green
{
	color: #00ff00;
}
.purple
{
	color: #ff00ff;
}
.cyan
{
	color: #00ffff;
}
.yellow
{
	color: #ffff00;
}
.rainbow
{
	animation: yolo 5s steps(1);
    animation-iteration-count: infinite;
	-moz-animation: yolo 5s steps(1);
    -moz-animation-iteration-count: infinite;
	-webkit-animation: yolo 5s steps(1);
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes yolo {
    0% {color: #ff0000;}
    20% {color: #00ff00;}
    40% {color: #ff00ff;}
    60% {color: #00ffff;}
    80% {color: #ffff00;}
    100% {color: #ff0000;}
}

@keyframes yolo {
    0% {color: #ff0000;}
    20% {color: #00ff00;}
    40% {color: #ff00ff;}
    60% {color: #00ffff;}
    80% {color: #ffff00;}
    100% {color: #ff0000;}
}


/*-----------------------------
 GENERIC ELEMENTS CUSTOMISATION 
-----------------------------*/

html 
{
    position: relative;
    min-height: 100%;
}

body 
{
    margin: 0 0 64px; /* bottom = footer height */
    background-color: black;
	color: #0F0;
	font-size: 100%;
}

header
{
	text-align: center;
	background-color: #000000;
	font-family: "Lucida Console", monospace;
}

header img
{
	width: 100%;
	max-width: 940px;
}

nav
{
	border-top: 1px solid #fF0;
	border-bottom: 1px solid #0ff;
	padding: 16px;
	margin: 8px 0px;
}

nav ul li
{
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

nav ul li a
{
	text-decoration: none;
	font-weight: 700;
}

main
{
	margin-left: 42px;
	margin-right: 42px;
	font-family: "Trebuchet MS", sans-serif;
}

footer 
{
    position: absolute;
    bottom: 0;
    height: 48px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    font-family: "Lucida Console", monospace;
    background-color: black;
    border-top: 1px solid #f0f;
}

/*-----------------------------
     ARTICLE CUSTOMISATION 
-----------------------------*/

article h2
{
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 1px;
	border: 1px solid #00F;
	background-color: #000;
	color: #F00;
	padding: 4px 16px;
}

article.last h2
{
	font-size: 1.3em;
	font-weight: 700;
	border: 1px solid #0FF;
	background-color: #000;
	color: #FF0;
	padding: 6px 16px;
}

article p
{
	padding: 16px 16px;
	font-size: 0.9em;
	text-align: justify;
	background-color: black;
	color:#0F0;
}

/*-----------------------------
      LIVE CUSTOMISATION 
-----------------------------*/

#live
{
	position:relative;
	text-align: center;
	float:left;
}

#chrono
{
	position:relative;
	float:left; 
	text-align:center;
}